.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.wrapperProductCards {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.wrapperNavbarHome {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  max-width: 1000px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.brandNavbarHome {
  width: 200px;
  align-self: center;
  justify-self: left;
}

.brandNavbarHomeImage {
  height: 50px;
}

.navbarHomeDiv {
  width: 480px;
}
.navbarHomeDiv li a {
  display: block;
  padding: 8px;
  background-color: #ffffff;
}

.navbarHomeDiv ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.navbarHomeDiv li {
  float: left;
  padding-left: 10px;
}

.navbarHomeDivRight {
  width: 200px;
  align-self: center;
  justify-self: right;
}

.navbarHomeDivRightIcon {
  padding-left: 10px;
}

.navbarHomeDivRightIcon:hover {
  cursor: pointer;
  padding-left: 10px;
}

.navbarHomeDiv li:hover {
  background-color: rgb(10, 10, 10);
  color: white;
  cursor: pointer;
  border-radius: 15px;
}

.navbarHomeDivRightIconHamburger {
  display: none;
  padding-left: 10px;
}

.backgroundImageText {
}

.backgroundImageDivColumn {
  display: grid;
  margin-bottom: auto;
  margin-top: auto;

  width: 30%;
  min-width: 200px;
  margin-left: 10%;
}

.backgroundImageDivHome {
  height: 400px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  background-size: cover;
  display: grid;

  text-align: center;

  background-repeat: no-repeat, no-repeat;
}
.underlineDiv {
  height: 5px;
  position: relative;
  z-index: 1;
  background: #eee;
}
.underlineDiv:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.promotionDiv {
  margin: auto;
  max-width: 80%;
  margin-top: 5px;
}

.promotionSpan {
  max-width: 50%;
  text-align: center;
}

.product {
  margin-top: 5px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.imageProductCard {
  max-width: 250px;
  max-height: 250px;
}

.memoryButton {
  height: 50px;
  width: 20%;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 15px;
}

.buyButton {
  color: white;
  margin-top: 10px;
  background: radial-gradient(#0ba9c5, #225ab8);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;

  cursor: pointer;
}

.buyButton:hover {
  background: rgba(97, 218, 251, 0.2);
  color: black;
}

.memoryButton:hover {
  background-color: rgba(97, 218, 251, 0.4);
  cursor: pointer;
}

/* Making sure the last item is displayed in center */
@media (min-width: 1247px) {
  .product:last-child:nth-child(3n - 2) {
    grid-column-end: -2;
  }
}

@media (max-width: 1247px) {
  .wrapperProductCards {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 10px;
  }
}

@media (max-width: 831px) {
  .wrapperProductCards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(51px, 350px));
    gap: 10px;
  }
  .navbarHomeDiv {
    display: none;
  }

  .navbarHomeDivRightIconHamburger {
    display: initial;
    cursor: pointer;
  }
  .backgroundImageDivHome {
    height: 300px;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.footer {
  height: 300px;
}
