.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.wrapperProductCards {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}

/* Making sure the last item is displayed in center */
@media (min-width: 1247px) {
  .product:last-child:nth-child(3n - 2) {
    grid-column-end: -2;
  }
}

.underlineDiv {
  height: 5px;
  position: relative;
  z-index: 1;
  background: #eee;
}
.underlineDiv:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
  width: 50%; /* or 100px */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.promotionDiv {
  margin: auto;
  max-width: 80%;
  margin-top: 5px;
}

.promotionSpan {
  max-width: 50%;
  text-align: center;
}

.product {
  margin-top: 5px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.imageProductCard {
  max-width: 250px;
  max-height: 250px;
}

.memoryButton {
  height: 50px;
  width: 20%;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 15px;
}

.buyButton {
  color: white;
  margin-top: 10px;
  background: radial-gradient(#0ba9c5, #225ab8);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;

  cursor: pointer;
}

.buyButton:hover {
  background: rgba(97, 218, 251, 0.2);
  color: black;
}

.memoryButton:hover {
  background-color: rgba(97, 218, 251, 0.4);
  cursor: pointer;
}

@media (max-width: 1247px) {
  .wrapperProductCards {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 10px;
  }
}

@media (max-width: 831px) {
  .wrapperProductCards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(51px, 350px));
    gap: 10px;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.footer {
  height: 300px;
}
